html, body {
  max-width: 100%;
}

img {
  border: none;
  vertical-align: middle;
}

b {
  font-weight: bold;
  font-size: 0.9em;
  font-family: arial;
  color: #333333;
}

i {
  font-style: italic;
  font-size: 0.9em;
  font-family: arial;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
  font-size: 0.9em;
  font-family: arial;
  color: #333333;
}

table {
  margin: 5px 0;
  padding: 3px 5px;
}

th {
  line-height: 15px;
  font-size: 0.9em;
  font-family: arial;
  color: #333333;
  margin: 5px 0;
  padding: 3px 5px;
  vertical-align: middle;
  font-weight: bolder;
}

td {
  line-height: 15px;
  font-size: 0.9em;
  font-family: arial;
  color: #333333;
  margin: 5px 0;
  padding: 3px 5px;
  vertical-align: middle;
  vertical-align: middle;
}

p, li, button {
  line-height: 1.5em;
  font-size: 0.9em;
  font-family: arial;
  color: #333333;
  text-align: left;
}

legend {
  line-height: 1.5em;
  font-size: 0.9em;
  font-family: arial;
  color: #333333;
  text-align: left;
}

input {
  font-size: 0.9em;
  font-family: arial;
  color: #333333;
  text-align: left;
}

label {
  line-height: 1.5em;
  text-align: left;
  font-size: 0.9em;
  font-family: arial;
  color: #333333;
}

h1 {
  text-align: justify;
  font-family: arial;
  color: #333333;
  line-height: 40px;
  font-size: 1.1em;
}

h2 {
  text-align: justify;
  font-family: arial;
  color: #333333;
  line-height: 40px;
  font-size: 1.1em;
  font-style: italic;
  margin: 0 0 1.424rem 0;
}

h3 {
  text-align: justify;
  font-family: arial;
  color: #333333;
  font-size: 14px;
  line-height: 40px;
  font-size: 0.9em;
}

h4 {
  text-align: justify;
  font-family: arial;
  color: #333333;
  line-height: 40px;
  font-style: italic;
  font-size: 1.0em;
}

h5 {
  text-align: justify;
  font-family: arial;
  color: #333333;
  line-height: 30px;
  font-size: 0.9em;
}

h6 {
  text-align: justify;
  font-family: arial;
  color: #333333;
  font-style: italic;
  font-size: 0.9em;
}

#easyraw_navbar {
  background-color: white;
  width: 100%;
  border-top: 1px solid #212121;
  bottom: 0;
  right: 0;
  z-index: 999;
  height: 85px;
  position: fixed;
}

#navbar_material, #navbar_conto, #navbar_customersconto, #navbar_dailyprices {
  width: 25%;
  display: block;
  float: left;
  height: 84px;
  cursor: pointer;
}

#navbar_material .material-icons, #navbar_conto .material-icons, #navbar_customersconto .material-icons, #navbar_dailyprices .material-icons {
  width: 99%;
  color: #212121;
  font-size: 2.0em;
  text-align: center;
  margin-top: 10px;
}

#navbar_material .menu-label, #navbar_conto .menu-label, #navbar_customersconto .menu-label, #navbar_dailyprices .menu-label {
  width: 99%;
  text-align: center;
  display: block;
  color: #333333;
  font-size: 0.9em;
}

#site_complete {
  width: 100%;
}

#headline {
  padding: 10px 10px;
  margin: 0;
  display: flow-root;
  height: 60px;
  max-height: 50px;
  width: 100%;
  top: 0;
  z-index: 990;
  position: fixed;
}

#App_Content {
  width: 100%;
  float: left;
  margin-bottom: 70px;
}

#App_Menu_complete {
  float: right;
}

#App_Config, #App_User, #App_Stats {
  float: right;
  padding: 0 5px;
  margin: 0 5px;
  cursor: pointer;
}

#App_Config .material-icons, #App_User .material-icons, #App_Stats .material-icons {
  width: 99%;
  color: white;
  font-size: 30px;
}

#System_Content {
  width: 99%;
  float: left;
  padding-bottom: 70px;
}

.dropdown-menu > li > a {
  font-size: 1.2em;
}

#Logo {
  float: left;
  width: 55%;
  height: 35px;
}

#Logo p {
  color: white;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 4px;
}

#currency_symbol {
  width: 150px;
}

#registration_success {
  font-family: arial;
  font-size: 0.9em;
  color: white;
}

#login_button, #registerform_button {
  margin: 3px;
  font-size: 0.9em;
}

.input-field > label {
  color: #9e9e9e;
  position: initial;
  top: 0;
  left: 0;
  font-size: 1rem;
  cursor: text;
  -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  text-align: initial;
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
}

#password_div #configuration_form_header {
  margin: 5px 0;
}

#password_div .card-content {
  height: 430px;
}

#currency_div #L_currency_icon {
  margin: 5px 0;
}

#currency_div .card-content {
  height: 200px;
}

#lang_div .card-content {
  height: 110px;
}

#wrong_emailadress {
  padding: 5px 0;
}

#password_msg .progress {
  margin: 2px 0;
}

@media (min-width: 768px) {
  #easyraw_loginform_div, #easyraw_registerform_div, #config_form {
    max-width: 500px;
    width: 40%;
    margin: 5% auto;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  #easyraw_loginform_div, #easyraw_registerform_div, #config_form {
    margin-top: 10%;
  }
}

@media (max-width: 450px) {
  #easyraw_loginform_div, #easyraw_registerform_div, #config_form {
    margin-top: 15%;
  }
}

#accounts_headline {
  width: 100%;
  border-bottom: 1px solid #747474;
  min-height: 45px;
}

#accounts_header {
  float: left;
  width: 69%;
}

#accounts_header #ao_header {
  text-align: justify;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333333;
  font-size: 1.1em;
  margin: 5px 0;
}

.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 65px;
  z-index: 997;
}

#accounts_overview {
  max-width: 800px;
  width: 60%;
  margin: 55px auto;
  padding: 0 10px;
  height: 100%;
}

#material_info {
  margin: 40% 5%;
}

.account_ov_name {
  padding: 10px;
}

.account_ov_name .material-icons {
  padding: 5px;
}

#div_newaccount_form .col .row {
  margin-left: 0;
  margin-right: 0;
}

#div_newaccount_form .row {
  margin-bottom: 0;
}

#div_newaccount_form .card {
  padding: 24px;
  border-radius: 0 0 2px 2px;
  padding-bottom: 60px;
  width: 100%;
}

#div_newaccount_form .card-content {
  padding: 0;
  border-radius: 0 0 2px 2px;
  padding-bottom: 60px;
}

#div_newaccount_form .material_value, #div_newaccount_form .material_price {
  float: left;
  width: 65%;
  text-align: right;
}

#div_newaccount_form .mat_price_unit, #div_newaccount_form .mat_value_unit {
  float: left;
  padding: 10px;
}

.account_config, .account_actions, .add_account_action {
  width: 40px;
  float: right;
  display: block;
  text-align: center;
  padding: 0 25px;
}

#account_detail_save, #accountaction_detail_save, #accountaction_material_go {
  float: right;
  margin-right: 10px;
}

.add_account_mat {
  float: left !important;
  width: 100% !important;
}

.add_account_mat input {
  text-align: right;
}

.add_account_mat .material_value {
  float: left !important;
  width: 35% !important;
}

.add_account_mat .material_price {
  float: left !important;
  width: 35% !important;
}

.add_account_mat .input-group-addon {
  padding: 20px !important;
  float: left !important;
  width: 10% !important;
}

.save_account_material {
  width: 80%;
  margin: 10px 10%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em;
}

.account_menu {
  width: 100%;
  float: right;
  margin-top: 3px;
  padding: 10px;
}

#accounts_content {
  margin-top: 20px;
  margin-bottom: 30px;
  float: left;
  width: 100%;
}

#accounts_content th, #accounts_content td {
  width: 25%;
  word-break: inherit;
  padding: 15px 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em;
}

#easyraw_addaccountaction_form .input-group {
  width: 100%;
}

#easyraw_addaccountaction_form .input-group input {
  text-align: right;
}

#L_cb_uebertrag {
  margin-left: 10px;
  padding: 10px 35px;
}

#div_accounts_overview .card {
  float: left;
  width: 100%;
}

#accounts_content .card {
  padding-bottom: 20px;
  float: left;
  width: 100%;
}

#accounts_content .card-content {
  padding: 10px;
}

#accounts_content label {
  display: block;
  padding: 10px 5px;
}

#L_cb_accountaction_closed {
  display: block;
  padding: 10px 5px !important;
  border-bottom: 1px solid #9e9e9e;
}

#easyraw_addaccountaction_form .material_value, #easyraw_addaccountaction_form .material_price {
  width: 67%;
  float: left;
  text-align: right;
}

#easyraw_addaccountaction_form .mat_price_unit, #easyraw_addaccountaction_form .mat_value_unit {
  float: left;
  padding: 10px;
}

@media (min-width: 768px) {
  #accounts_overview {
    max-width: 800px;
    width: 60%;
    padding: 0 10px;
    height: 100%;
  }
  #material_info {
    margin: 40% 25%;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  #accounts_overview {
    width: 100%;
    padding: 0 10px;
    height: 100%;
  }
  #material_info {
    margin: 40% 15%;
  }
}

@media (max-width: 450px) {
  #accounts_overview {
    width: 100%;
    padding: 0 10px;
    height: 100%;
  }
  #material_info {
    margin: 40% 5%;
  }
}

#accountsactions_headline {
  width: 100%;
  border-bottom: 1px solid #747474;
  min-height: 45px;
  float: left;
}

#accountsactions_header {
  float: left;
  width: 69%;
}

#accountsactions_header #aa_header {
  text-align: justify;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333333;
  line-height: 1px;
  font-size: 1.1em;
}

.accountactionstatus_complete {
  color: #08b82e;
}

.accountactionstatus_incomplete {
  color: #ffd61e;
}

#accountsactions_overview_menu {
  width: 80px;
  float: right;
  display: block;
  padding: 10px;
}

#accountsactions_overview_menu #div_period_accoutnactions, #accountsactions_overview_menu #div_add_accoutnactions {
  width: 50%;
  float: right;
  cursor: pointer;
}

#accountsactions_overview {
  max-width: 800px;
  width: 60%;
  margin: 55px auto;
  padding: 0 10px;
  height: 100%;
}

.aa_actions_headline {
  max-width: 70%;
  float: left;
  padding: 10px;
}

.accountaction_config {
  width: 45px;
  float: right;
  display: block;
  text-align: center;
}

.th_actionbooking {
  text-align: right;
}

.accountaction_menu {
  width: 10%;
  float: right;
}

#accountsactions_content {
  margin-bottom: 30px;
  float: left;
  width: 100%;
}

#accountsactions_content .panel {
  float: left;
  width: 100%;
}

#accountsactions_content .panel-heading {
  padding: 0;
  float: left;
  width: 100%;
}

#accountsactions_content .panel-body {
  padding: 15px;
  float: left;
  width: 100%;
}

#accountsactions_content .card {
  float: left;
  width: 100%;
}

#accountsactions_content .card-title {
  font-size: 15px;
}

#accountsactions_content .card-content {
  padding: 15px;
}

#accountsactions_content td, #accountsactions_content th {
  padding-top: 10px;
  padding-bottom: 10px;
}

#L_cb_completeaction {
  width: 200px;
}

#easyraw_editaccountaction_form .material_value, #easyraw_editaccountaction_form .material_price {
  width: 67%;
  float: left;
  text-align: right;
}

#easyraw_editaccountaction_form .mat_price_unit, #easyraw_editaccountaction_form .mat_value_unit {
  float: left;
  padding: 10px;
}

@media (min-width: 768px) {
  #accountsactions_overview {
    max-width: 800px;
    width: 60%;
    padding: 0 10px;
    height: 100%;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  #accountsactions_overview {
    width: 100%;
    padding: 0 10px;
    height: 100%;
  }
}

@media (max-width: 450px) {
  #accountsactions_overview {
    width: 100%;
    padding: 0 10px;
    height: 100%;
  }
}

#dailyprices_headline {
  width: 100%;
  border-bottom: 1px solid #747474;
  min-height: 45px;
}

#dailyprice_ov_dates {
  height: 500px;
}

#dailyprices_header {
  float: left;
  width: 69%;
}

#dailyprices_header #dp_header {
  text-align: justify;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333333;
  font-size: 1.1em;
  margin: 5px 0;
}

#dailyprices_overview {
  max-width: 800px;
  width: 60%;
  margin: 55px auto 0 auto;
  padding: 0 10px;
  height: 95%;
}

#dailyprices_content {
  max-width: 800px;
  width: 100%;
  height: 90%;
}

#dailyprices_content #div_dailyprices_form {
  height: 100%;
}

#dailyprices_content #div_dailyprices_form #dailyprices_form {
  float: left;
  height: 85%;
}

#dailyprices_content #div_dailyprices_form #div_save_button {
  float: left;
  text-align: right;
  padding: 10px;
  width: 98%;
}

#dailyprices_content #div_dailyprices_form .panel-heading {
  text-align: -webkit-right;
}

#dailyprices_content .card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  float: left;
  width: 100%;
}

#dailyprices_content .card td {
  padding: 10px;
}

#dailyprices_content .card .price_value {
  text-align: right;
}

#dailyprices_inputs {
  float: left;
  height: 90%;
}

#dailyprices_inputs .form-group {
  width: 47%;
  float: left;
  padding: 5px;
  margin-bottom: 0;
}

#dailyprices_inputs .form-group input {
  text-align: right;
  width: 80%;
  float: left;
}

#dailyprices_inputs .form-group .input-group-addon {
  padding: 9px;
  float: left;
}

@media (min-width: 768px) {
  #dailyprices_overview {
    max-width: 800px;
    width: 60%;
    padding: 0 10px;
    height: 95%;
  }
  #dailyprices_content {
    max-width: 800px;
    width: 100%;
    height: 90%;
  }
  #dailyprices_content #div_dailyprices_form {
    height: 100%;
  }
  #dailyprices_content #div_dailyprices_form #div_save_button {
    float: left;
    text-align: right;
    padding: 10px;
    width: 98%;
  }
  #dailyprices_inputs {
    float: left;
    height: 90%;
  }
  #dailyprices_inputs .form-group {
    width: 47%;
    float: left;
    padding: 5px;
    margin-bottom: 0;
  }
  #dailyprices_inputs .form-group input {
    text-align: right;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  #dailyprices_overview {
    width: 100%;
    padding: 0 10px;
    height: 95%;
  }
  #dailyprices_content {
    max-width: 800px;
    width: 100%;
    height: 85%;
  }
  #dailyprices_content #div_dailyprices_form {
    height: 100%;
  }
  #dailyprices_content #div_dailyprices_form #div_save_button {
    float: left;
    text-align: right;
    padding: 10px;
    width: 98%;
  }
  #dailyprices_inputs {
    float: left;
    height: 90%;
  }
  #dailyprices_inputs .form-group {
    width: 99%;
    float: left;
    padding: 5px;
    margin-bottom: 0;
  }
  #dailyprices_inputs .form-group input {
    text-align: right;
  }
}

@media (max-width: 450px) {
  #dailyprices_overview {
    width: 100%;
    padding: 0 10px;
    height: 95%;
  }
  #dailyprices_content {
    max-width: 800px;
    width: 100%;
    height: 85%;
  }
  #dailyprices_content #div_dailyprices_form {
    height: 100%;
  }
  #dailyprices_content #div_dailyprices_form #div_save_button {
    float: left;
    text-align: right;
    padding: 10px;
    width: 98%;
  }
  #dailyprices_inputs {
    float: left;
    height: 90%;
  }
  #dailyprices_inputs .form-group {
    width: 99%;
    float: left;
    padding: 5px;
    margin-bottom: 0;
  }
  #dailyprices_inputs .form-group input {
    text-align: right;
  }
}

#materials_headline {
  width: 100%;
  border-bottom: 1px solid #747474;
  min-height: 45px;
}

#materials_header {
  float: left;
  width: 69%;
}

#materials_header #mat_header {
  text-align: justify;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333333;
  font-size: 1.1em;
  margin: 5px 0;
}

.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 65px;
  z-index: 997;
}

#materials_overview {
  max-width: 800px;
  width: 60%;
  margin: 55px auto;
  padding: 0 10px;
  height: 100%;
}

#mat_name {
  width: 100%;
}

#mat_unit {
  width: 30%;
  max-width: 100px;
  min-width: 50px;
}

.material_infos {
  width: 48%;
  display: block;
  float: left;
  padding: 5px;
  border: 1px #333333;
  border-radius: 4px;
  background-color: #eeeeeb;
  margin: 5px;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.material_name {
  text-align: justify;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333333;
  font-size: 1.2em;
  width: 60%;
  display: block;
  float: left;
  padding: 5px;
  word-break: break-word;
}

.material_unit {
  text-align: justify;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333333;
  font-size: 1.2em;
  width: 20%;
  display: block;
  float: left;
  padding: 5px;
}

.material_menu {
  text-align: justify;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333333;
  font-size: 1.2em;
  width: 15%;
  display: block;
  float: right;
}

.material_menu .material_edit {
  width: 99%;
  color: #333333;
  font-size: 25px;
  text-align: right;
  display: block;
  height: 30px;
  padding: 0;
  margin-top: 0px;
  margin-right: 10px;
  border: none;
  background: none;
  float: right;
  padding: 5px;
}

#materials_list {
  height: 90%;
}

#L_mat_del {
  margin-top: 0px;
}

#material_del_msg {
  padding: 5px;
}

@media (min-width: 768px) {
  #materials_overview {
    max-width: 800px;
    width: 60%;
    padding: 0 10px;
    height: 100%;
  }
  #set_first_material {
    margin: 40% 25%;
    width: 50%;
  }
  .material_infos {
    width: 48%;
    display: block;
    float: left;
    padding: 5px;
    display: block;
    float: left;
    padding: 5px;
    border-radius: 4px;
    background-color: #eeeeeb;
    margin: 5px;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  #materials_overview {
    width: 100%;
    padding: 0 10px;
    height: 100%;
  }
  #set_first_material {
    margin: 40% 15%;
    width: 70%;
  }
  .material_infos {
    width: 99%;
    display: block;
    float: left;
    padding: 5px;
    display: block;
    float: left;
    padding: 5px;
    border-radius: 4px;
    background-color: #eeeeeb;
    margin: 5px;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 450px) {
  #materials_overview {
    width: 100%;
    padding: 0 10px;
    height: 100%;
  }
  #set_first_material {
    margin: 40% 5%;
    width: 90%;
  }
  .material_infos {
    min-width: 99%;
    display: block;
    float: left;
    padding: 5px;
    display: block;
    float: left;
    padding: 5px;
    border-radius: 4px;
    background-color: #eeeeeb;
    margin: 5px;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

.datepicker-modal {
  width: 70%;
}

.datepicker-day-button {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */