
        #accountsactions_headline{
            width: 100%;
            border-bottom: 1px solid #747474;
            min-height: 45px;
            float: left;
        }

        #accountsactions_header{
        float: left;
        width: 69%;

        #aa_header{

            text-align: justify;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            color: #333333;
            line-height: 1px;
            font-size: 1.1em;
        }

        }

        .accountactionstatus_complete{
            color: rgb(8, 184, 46);
        }

        .accountactionstatus_incomplete{
            color: rgb(255, 214, 30);
        }

        #accountsactions_overview_menu{
            width: 80px;
            float: right;
            display: block;
            padding: 10px;

            #div_period_accoutnactions, #div_add_accoutnactions{
                width: 50%;
                float: right;
                cursor: pointer;
            }

                   }
           
                   #accountsactions_overview  {
                    max-width: 800px;
                    width: 60%;
                    margin: 55px auto;
                    padding: 0 10px;
                    height: 100%;
                }

                .aa_actions_headline{
                    max-width: 70%;
                    float: left;
                    padding: 10px;
                    
                }
                
                .accountaction_config{
                    width: 45px;
                    float: right;
                    display:block;
                    text-align: center;

                }

                .th_actionbooking{
                    text-align: right;
                }

                .accountaction_menu{
                    width: 10%;
                    float: right;
                }

                #accountsactions_content{
                    margin-bottom: 30px;
                    float: left;
                    width: 100%;

                    .panel{
                        float: left;
                        width: 100%;
                    }

                    .panel-heading{
                        padding: 0;
                        float: left; 
                        width: 100%;
                    }

                    .panel-body {
                        padding: 15px;
                        float: left;
                        width: 100%;
                    }

                    .card{
                        float: left;
                        width: 100%;
                    }

                    .card-title{
                        font-size: 15px;
                    }

                    .card-content{
                        padding: 15px;
                    }

                    td, th {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                
                }

                #L_cb_completeaction{
                    width: 200px;
                }   


                #easyraw_editaccountaction_form {

                    .material_value, .material_price{
                        width: 67%;
                        float: left;
                        text-align: right;
                    }

                    .mat_price_unit, .mat_value_unit{
                        float: left;
                        padding: 10px;
                    }

                }

                @media (min-width:768px) {

                    #accountsactions_overview {
                        max-width: 800px;
                        width: 60%;
                     
                        padding: 0 10px;
                        height: 100%;
                         }
                }
    
                     
                     @media (min-width:451px) and (max-width:768px){
                     
                         #accountsactions_overview  {
                            width: 100%;
                            
                            padding: 0 10px;
                            height: 100%;
                             }  
                         
                         }
                         
                         @media (max-width:450px){
                     
                             #accountsactions_overview  {
                                width: 100%;
                              
                                padding: 0 10px;
                                height: 100%;
                                 }
                 
                             }