
            #dailyprices_headline{
            width: 100%;
            border-bottom: 1px solid #747474;
            min-height: 45px;
        }

        #dailyprice_ov_dates{
            height: 500px;
        }

        #dailyprices_header{
        float: left;
        width: 69%;


        #dp_header{

            text-align: justify;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            color: #333333;
            font-size: 1.1em;
            margin: 5px 0;
        }

        }

                   #dailyprices_overview {
                    max-width: 800px;
                    width: 60%;
                    margin: 55px auto 0 auto;
                    padding: 0 10px;
                    height: 95%;
                }

                #dailyprices_content{
                    max-width: 800px;
                    width: 100%;
                    height: 90%;
                   

                    #div_dailyprices_form{
                        height: 100%;

                        #dailyprices_form {
                            float:left;
                            height: 85%;
                        }

                        #div_save_button{
                            float:left;
                            text-align: right;
                            padding:10px;
                            width: 98%
                        }

                        .panel-heading{
                            text-align: -webkit-right;
                        }

                    }

                    .card {
                        position: relative;
                        margin: 0.5rem 0 1rem 0;
                        background-color: #fff;
                        -webkit-transition: -webkit-box-shadow .25s;
                        transition: -webkit-box-shadow .25s;
                        transition: box-shadow .25s;
                        transition: box-shadow .25s, -webkit-box-shadow .25s;
                        border-radius: 2px;
                        float: left;
                        width: 100%;

                        td{
                            padding: 10px;
                        }

                        .price_value{
                            text-align: right;
                        }

                    }

                }
                

                #dailyprices_inputs{
                    float:left;
                    height: 90%;

                    .form-group{
                        width: 47%;
                        float: left;
                        padding: 5px;
                        margin-bottom: 0;

                        input{
                            text-align: right;
                            width: 80%;
                            float: left;
                        }

                        .input-group-addon{
                            padding: 9px;
                            float: left;
                        }
                    }
                }
                
        


                   @media (min-width:768px) {

                    #dailyprices_overview {
                             max-width: 800px;
                             width: 60%;
                           
                             padding: 0 10px;
                             height: 95%;
                         }

                         #dailyprices_content{
                            max-width: 800px;
                            width: 100%;
                            height: 90%;
        
                            #div_dailyprices_form{
                                height: 100%;
        
                                #div_save_button{
                                    float:left;
                                    text-align: right;
                                    padding:10px;
                                    width: 98%
                                }
        
                            }
                            
                        }

                        #dailyprices_inputs{
                            float:left;
                            
                            height: 90%;

                            .form-group{
                                width: 47%;
                                float: left;
                                padding: 5px;
                                margin-bottom: 0;

                                input{
                                    text-align: right;
                                }
                            }
                        }


                     }

                     
                     
                     @media (min-width:451px) and (max-width:768px){
                     
                         #dailyprices_overview  {
                                 width: 100%;
                                
                                 padding: 0 10px;
                                 height: 95%;
                             }

                             #dailyprices_content{
                                max-width: 800px;
                                width: 100%;
                                height: 85%;
            
                                #div_dailyprices_form{
                                    height: 100%;
            
                                    #div_save_button{
                                        float:left;
                                        text-align: right;
                                        padding:10px;
                                        width: 98%
                                    }
            
                                }
                            }
                            #dailyprices_inputs{
                                float:left;
                                height: 90%;
    
                                .form-group{
                                    width: 99%;
                                    float: left;
                                    padding: 5px;
                                    margin-bottom: 0;

                                    input{
                                        text-align: right;
                                    }
                                }
                            }
                         }
                            @media (max-width:450px){
                     
                                #dailyprices_overview  {
                                        width: 100%;
                                      
                                        padding: 0 10px;
                                        height: 95%;
                                    }

                                    #dailyprices_content{
                                        max-width: 800px;
                                        width: 100%;
                                        height: 85%;
                    
                                        #div_dailyprices_form{
                                            height: 100%;
                    
                                            #div_save_button{
                                                float:left;
                                                text-align: right;
                                                padding:10px;
                                                width: 98%
                                            }
                    
                                        }
                
                                    }

                                    #dailyprices_inputs{
                                        float:left;
                                     
                                        height: 90%;
            
                                        .form-group{
                                            width: 99%;
                                            float: left;
                                            padding: 5px;
                                            margin-bottom: 0;

                                            input{
                                                text-align: right;
                                            }

                                        }
                                    }
                                 }
                               
              