
#loginform_body{
    display: grid;
    justify-content: center;
    align-items: center;

    .card{
        margin: 5%;
        width: 25rem;
    }
}
 

#rmm_languageform{
    select{
    width:100%;
    }
}

    .btn{
        float: right;
        margin: 5px;
    }
    