
#loginform_body, #easyraw_registrationform_div{
    display: grid;
    justify-content: center;
    align-items: center;

    .card{
        margin: 5%;
        width: 25rem;
    }

    .card-content{
        padding: 10px;
    }
}
 

#rmm_languageform{
    select{
    width:100%;
    }
}

    .btn{
        float: right;
        margin: 5px;
    }


#easyraw_registrationform_div{
    
.card-footer{
    min-height: 65px;
}
}

#email_msg{
    display: none;
}

#password_msg {
    display: none;
}

#passwordconfirm_msg{
    display: none;
}
