//Standards
html, body {
	max-width: 100%;
	
}

img {
	border: none;
	vertical-align: middle;
}

@mixin std_font {
	font-size: 0.9em;
	font-family: arial;
	color: rgba(51,51,51,1);
}

b {
	font-weight: bold;
	 @include std_font();
}

i {
	font-style: italic;
	 @include std_font();
	}
	
a {
	text-decoration: none;
	color: rgba(51,51,51,1);
 @include std_font();
}

table {
	margin: 5px 0;
	padding: 3px 5px;
}

@mixin table_cell {
	line-height: 15px;
	@include std_font(); 
	
	margin: 5px 0;
	padding: 3px 5px;
	vertical-align: middle;
}

th {
	@include table_cell();
	font-weight: bolder;
}


td {
	@include table_cell();	
	vertical-align: middle;
	
}

p, li, button {
	line-height: 1.5em;
	@include std_font();
	text-align: left;
}

legend {
	line-height: 1.5em;
	@include std_font();
	text-align: left;
}

input {
	@include std_font();
   text-align: left;
}

label {
	line-height: 1.5em;
	text-align: left;
	@include std_font();
}

@mixin header_font {
	text-align: justify;
	font-family: arial;
	color: rgba(51,51,51,1);
}

h1 {
@include header_font();	
	line-height: 40px;
	font-size: 1.1em;
}

h2 {
@include header_font();
	line-height: 40px;
	font-size: 1.1em;
	font-style: italic;
	margin: 0 0 1.424rem 0;
}

h3 {
	@include header_font();
	font-size: 14px;
	line-height: 40px;
	font-size: 0.9em;
} 

h4 {
	@include header_font();
	line-height: 40px;
	font-style: italic;
	font-size: 1.0em;
}

h5 {
	@include header_font();
	line-height: 30px;
	font-size: 0.9em;
}

h6 {
	@include header_font();
	font-style: italic;
	font-size: 0.9em;
}
