    
<div id="loginform_body">
    <div class="card" style="width: 18rem">
        <div class="card-header" id="login_form_cardheader">

        </div>
        <div class="card-body">
        <form id="rmm_languageform">
            <select>
            <option selected id="lang_headline"></option>
            <option value="en" id="lang_en"></option>
            <option value="de" id="lang_de"></option>
            </select>
        </div>
        </form>
    </div>

    <div class="card" style="width: 18rem">
        <div id="card-header">

        </div>
        <div class="card-body">
        <form id="rmm_loginform">

        </form>
        </div>
    </div>
</div>