    
<div id="loginform_body">
    <div class="card">
        <div class="card-header" id="login_form_cardheader">

        </div>
        <div class="card-body">
        <form id="rmm_languageform-lg">
            <select class="form-select">
            <option selected id="lang_select"></option>
            <option value="en" id="lang_en"></option>
            <option value="de" id="lang_de"></option>
            </select>
        </div>
        </form>
    </div>

    <div class="card">
        <div class="card-header" id="loginform_header">

        </div>
        <div class="card-body">
        <form id="rmm_loginform">

        </form>
        </div>
    </div>
</div>