<div id="easyraw_registerform_div">
    <div class="card">
        <div class="card-header" id="registrationform_cardheader">

        </div>
    <form id="rmm_registrationform">
            <div class="card-body">
                <div class="form-group">
                    <label for="accounttyp-selection" id="L_accounttyp"></label>
                    <select class="form-select" id="accounttyp_selection">
                    <option selected id="accounttyp_select"></option>
                    <option value="company" id="sel_company"></option>
                    <option value="privat" id="sel_privat"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="acc_name" id="L_acc_name"></label>
                    <input type="text" class="form-control" id="acc_name" disabled='disabled'>
                </div>
                <div class="form-group">
                    <label for="acc_address" id="L_acc_address"></label>
                    <input type="text" class="form-control" id="acc_address" disabled='disabled'>
                </div>
                <div class="form-group">
                    <label for="acc_zip" id="L_acc_zip"></label>
                    <input type="text" class="form-control" id="acc_zip" disabled='disabled'>
                </div>
                <div class="form-group">
                    <label for="acc_city" id="L_acc_city"></label>
                    <input type="text" class="form-control" id="acc_city" disabled='disabled'>
                </div>
                <br/>
                <hr/>
                <br/>
                <h1 id="h_admin_login"></h1>
                <div class="form-group">
                    <label for="usermail" id="L_usermail"></label>
                    <input type="email" class="form-control" id="usermail" disabled='disabled'>
                    <div id="email_msg" class="alert alert-danger"></div>
                </div>
                <div class="form-group">
                    <label for="userpassword" id="L_password"></label>
                    <input type="password" class="form-control" id="userpassword" disabled='disabled'>
                    <div id="password_msg"></div>
                </div>
                <div class="form-group">
                    <label for="userpassword_confirm" id="L_password_confirm"></label>
                    <input type="password" class="form-control" id="userpassword_confirm" disabled='disabled'>
                    <div id="passwordconfirm_msg"></div>    
                </div>
            </div> 
            <div class="card-footer">
                <button type="submit" class="btn btn-primary" id="create_button" disabled="disabled"></button>
                <button type="button" class="btn" id="cancel_button"></button>
            </div>
        </div> 
    
    </form>
    </div>
</div>
